@import url('https://fonts.googleapis.com/css?family=Roboto');
.product-line-box:hover {
	background-color: #337ab7;
	color: white;
}

.product-line-box {
	cursor: pointer;
	margin-left: 15px;
	margin-right: 15px;
}

.product-panel-box {
	height: auto;
	background-color: #f4f4f4
}

.navbar {
	margin-bottom: 5px !important;
	font-family: 'Roboto', sans-serif;
}